#container {
    padding-top: 10%;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.body{
    padding-top: 50%;
    border-style: solid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}